@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 100;
  src:
    url('../public/fonts/woff2/KalamehWebFaNum-Thin.woff2') format('woff2'),
    url('../public/fonts/woff/KalamehWebFaNum-Thin.woff') format('woff');
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 200;
  src:
    url('../public/fonts/woff2/KalamehWebFaNum-ExtraLight.woff2')
      format('woff2'),
    url('../public/fonts/woff/KalamehWebFaNum-ExtraLight.woff') format('woff');
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 300;
  src:
    url('../public/fonts/woff2/KalamehWebFaNum-Light.woff2') format('woff2'),
    url('../public/fonts/woff/KalamehWebFaNum-Light.woff') format('woff');
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 500;
  src:
    url('../public/fonts/woff2/KalamehWebFaNum-Medium.woff2') format('woff2'),
    url('../public/fonts/woff/KalamehWebFaNum-Medium.woff') format('woff');
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 600;
  src:
    url('../public/fonts/woff2/KalamehWebFaNum-SemiBold.woff2') format('woff2'),
    url('../public/fonts/woff/KalamehWebFaNum-SemiBold.woff') format('woff');
}

@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 800;
  src:
    url('../public/fonts/woff2/KalamehWebFaNum-ExtraBold.woff2') format('woff2'),
    url('../public/fonts/woff/KalamehWebFaNum-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 900;
  src:
    url('../public/fonts/woff2/KalamehWebFaNum-Black.woff2') format('woff2'),
    url('../public/fonts/woff/KalamehWebFaNum-Black.woff') format('woff');
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: bold;
  src:
    url('../public/fonts/woff2/KalamehWebFaNum-Bold.woff2') format('woff2'),
    url('../public/fonts/woff/KalamehWebFaNum-Bold.woff') format('woff');
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: normal;
  src:
    url('../public/fonts/woff2/KalamehWebFaNum-Regular.woff2') format('woff2'),
    url('../public/fonts/woff/KalamehWebFaNum-Regular.woff') format('woff');
}
